<html>
    <head>
        <meta charset="UTF-8">
        <meta name="google-signin-scope" content="profile email">
        <meta name="google-signin-client_id" content="884151674060-4prvg4p3kiao1kkg6np2l51c7gsu3hr3.apps.googleusercontent.com">
        <style type="text/css" title="currentStyle">
                @import "../application/views/helpers/login.css";
        </style>           
        <script src="/timeoffmanager/application/scripts/jquery-ui-1.11.4.custom/external/jquery/jquery.js"></script>    
        <script src="/timeoffmanager/application/scripts/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>  
        <script src="/timeoffmanager/application/views/LoginView/scripts/google_login.js"></script>
        <script src="https://apis.google.com/js/platform.js"></script> 
        
        <title></title>
    </head>
<body>