<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8">
        <link type="text/css" href="/timeoffmanager/application/scripts/jquery-ui-1.11.4.custom/jquery-ui.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="/timeoffmanager/application/scripts/frontier/css/colorpicker/colorpicker.css" />
        <style type="text/css" title="currentStyle">
                @import "../application/views/helpers/login.css";
                @import "../application/scripts/jquery-multiselect-chosen/css/chosen.css";
        </style>           
        <script src="/timeoffmanager/application/scripts/jquery-ui-1.11.4.custom/external/jquery/jquery.js"></script>    
        <script src="/timeoffmanager/application/scripts/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>  
        <script src="/timeoffmanager/application/scripts/jquery-multiselect-chosen/js/chosen.jquery.js"></script>
        <script type="text/javascript" src="/timeoffmanager/application/scripts/frontier/js/colorpicker/colorpicker.js"></script>
        <script type="text/javascript" language="javascript" src="/timeoffmanager/application/scripts/message.dialog.js"></script>
        <title></title>
    </head>
<body >
    <div class="header2">
        <div class="heading2" style="margin: auto; width:80%;">
            <table width="100%">
                <tr>
                    {userInfo}
                    {picture}                    
                </tr>        
                <tr>
                    {signOut}
                </tr>
            </table>
        </div>
    </div>
    <hr>       
